@model Capstone.Models.Soldier
@{
    ViewBag.Title = "AddTravelFile";
}

<h2>Add Relevant Travel Document</h2>

@using (Html.BeginForm("AddTravelFile/3, Soldier", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SoldierId)
    @Html.HiddenFor(model => model.ApplicationUserId)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.SocialSecurityNumber)
    @Html.HiddenFor(model => model.UnitNumber)
    @Html.HiddenFor(model => model.Division)
    @Html.HiddenFor(model => model.Leadership)
    @Html.HiddenFor(model => model.LES)
    @Html.HiddenFor(model => model.LESSubmission)
    @Html.HiddenFor(model => model.LeaveForm)
    @Html.HiddenFor(model => model.LeaveFormSubmission)
    @Html.HiddenFor(model => model.TravelFileName)
    @Html.HiddenFor(model => model.PacketStatus)
    @Html.HiddenFor(model => model.TravelInfo)
    @Html.HiddenFor(model => model.Rank)
    @Html.HiddenFor(model => model.StartDate)
    @Html.HiddenFor(model => model.EndDate)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.Label("Travel Form", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="DA-31" name="upload" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}