@model IEnumerable<Capstone.Models.Soldier>
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialSecurityNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leadership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LESSubmission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveFormSubmission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacketStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leadership)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LESSubmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveFormSubmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacketStatus)
            </td>
            <td>
                @Html.ActionLink("Edit Account", "EditPersonalInformation", new { id = item.SoldierId })  |
                @Html.ActionLink("Add DA-31", "AddDA31", new { id = item.SoldierId }) |
                @Html.ActionLink("Add LES", "AddLES", new { id = item.SoldierId })   |
                @Html.ActionLink("Add Travel Files", "AddTravelFile", new { id = item.SoldierId})    |
                @Html.ActionLink("View Information", "SoldierInformation", new { id = item.SoldierId })
            </td>
        </tr>
    }

</table>

