@model Capstone.Models.Soldier
@{
    ViewBag.Title = "SoldierInformation";
}

<h2>Soldier Information</h2>


<dl class="dl-horizontal">
    @Html.HiddenFor(model => model.LES)
    @Html.HiddenFor(model => model.LeaveForm)
    @Html.HiddenFor(model => model.TravelFileName)
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Rank)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Rank)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SocialSecurityNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SocialSecurityNumber)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UnitNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UnitNumber)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Division)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Division)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Leadership)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Leadership)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.LeaveFormSubmission)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LeaveFormSubmission)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.LESSubmission)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LESSubmission)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.TravelInfo)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.TravelInfo)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.PacketStatus)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PacketStatus)
    </dd>
    <tl>
        @Html.ActionLink("View DA-31", "DisplayDA31", new { id = Model.SoldierId }) |
        @Html.ActionLink("View LES", "DisplayLES", new { id = Model.SoldierId }) |
        @Html.ActionLink("View Travel Documents", "DisplayTravelDocs", new { id = Model.SoldierId })
    </tl>
</dl>
<br />
<tl>@Html.ActionLink("Back to Home","Index", new { id = Model.SoldierId})</tl>

    

